/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  margin-left: 435px;
  margin-bottom: 10px;
}

button {
  float: right;
  line-height: 25px;
  margin-top: 25px;
  margin-right: 10px;
  color: white;
  background-color: #06365f;
  border-radius: 2px;
  border: 1px solid #1c5380;
}

main{
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
  z-index: 100;
}

article {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

p {
  width: 410px;
}

span {
  font-weight: bold;
}

footer {
  margin: 30px auto;
  text-transform: uppercase;
  width: fit-content;
  font-size: smaller;
  }

ul {
  display: inline;
  list-style: none;
  font-weight: bold;
}

aside {
  color: rgb(196,196,196);
  float: left;
  margin-left: 30px;
  display: inline-block;
}

.background {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #1c5380;
  z-index: 1;
}


.content {
  float: right;
  display: inline-block;
  width: 50%;
  background-image: url(../images/frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.phones {
  margin-top: -80px;
  margin-right: 110px;

}

.tag-line {
  color: #06365f;
  width: 250px;
  margin-top: 0px;
}

.stores {
  padding-top: 20px;
}

.links {
  color: #1c5380;
}

.link {
    float: left;
    margin-right: 10px;
  }

.stores>img {
  margin-left: 10px;
}

button>img {
  float: left;
}
