/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  margin-left: 435px;
  margin-bottom: 10px;
}

button {
  float: right;
  margin-top: 25px;
  margin-right: 10px;
  color: white;
  background-color: #1c5380;
  border-radius: 2px;
  border: 1px solid #1c5380;
}

main{
  margin: 0 auto;
  width: 75%;
}

div {
  float: right;
  width: 55%;
  background-image: url(../images/frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

article {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
}
p {
  width: 410px;
}

span {
  font-weight: bold;
}

footer {
  margin: 60px auto;
  text-transform: uppercase;
  width: fit-content;
  font-size: smaller;
  }

ul {
  display: inline;
  list-style: none;
  font-weight: bold;
}

aside {
  color: rgb(196,196,196);
  float: left;
  margin-left: 30px;
  display: inline-block;
}

.phones {
  margin-top: -70px;
}

.tag-line {
  color: #06365f;
  width: 250px;
}

.stores {
  padding-top: 20px;
}

.links {
  color: #1c5380;
}

.link {
    float: left;
    margin-right: 10px;
  }

.stores>img {
  margin-left: 10px;
}
